@media screen and (max-width: 320px) {
    .logo {
        width: 120px;
    }
}

@media screen and (max-width: 1020px) {
    .info_container_title {
        font-size: 2rem;
    }
    
    .text_paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 850px) {

    .homepage_section {
        height: auto;
    }

    .homepage_section_container {
        flex-direction: column-reverse;
        padding: 40px 0px;
    }

    .button_link {
        display: flex;
        justify-content: center;
    }

    .info_container {
        width: 80vw;
    }

    .mobile_app_image {
        width: 60vw;
    }

    .cssbuttons-io-button {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .info_container_title, .text_paragraph {
        justify-content: center;
        display: flex;
        text-align: center;
        width: 80vw;
    }

    .info_container_title {
        font-size: 1.2em;
    }
    
    .text_paragraph {
        font-size: 1em;
    }
}